@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    height: 100%;
    background-color: #FEFEFE;
}

* {
    margin: 0;
    padding: 0;
}

.col {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: black;
}

.footer {
    position: absolute;
    width: 100%;
    height: 13.8%;
    bottom: 0;
    background-color: black;
}

.ph1 {
    position: relative;
    object-fit: cover;
    left: 2.5%;
    top: 5vh;
    width: 45%;
    height: 40%;
}

.about {
    position: absolute;
    width: 40%;
    height: 63vh;
    top: 12vh;
    right: 6.25%;

}

.name {

    font-family: 'Roboto Slab', serif;
    font-size: 7vh;
    text-align: center;
    font-weight: 700;
}

.student {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: rgb(93, 202, 175);
    font-size: 3vh;
    font-weight: 700;
}

.main {
    font-family: 'Amatic SC', cursive;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 3vh;
    font-weight: 600;
    text-indent: 1.5em;
    text-align: justify;
}

.icons {
    position: absolute;
    right: 8%;
    bottom: 14%;
    width: 23%;
}

.social a {
    text-align: center;
    width: 32px;
    height: 32px;
    float: left;
    background: rgb(93, 202, 175);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: black;
}

.button a {
    width: 40%;
}

.instagram a:hover {
    background: rgb(93, 202, 175);
    color: #fff;
}

.vk a:hover {
    background: rgb(93, 202, 175);
    color: #fff;
}

.button span {
    display: block;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 160%;
    height: 100%;
}


.button a:hover {
    background: rgb(93, 202, 175);
    cursor: pointer;
}

.button:hover span {
    color: #fff;
}
